.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn_container button{
    height: 1.6rem;
    width: 2rem;
    color: rgb(175, 36, 15);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}