.product_container{
    display: grid;
    overflow: hidden;
    justify-content: center;
}

.product_container  h4 {
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
}

.product_container  p {
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
}